/* Navigation */

.navi {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 0;
}
.navi-log {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0;
    margin-left: 3%;
}

.navba-text {
    font-family: 'Lobster', cursive;
    color: #fff;
    padding-left: 1em;

}

.navbar-nav {
    padding-inline: 18%;
}

.navbar-brand {
    padding-left: 4%;
}


.navbar-brand img {
    padding-right: 5px;
    height: 38px;
}


/* Aside */


aside {
    padding: 10%;
     
}


aside img {
    height: 80px;
    
     
}

/* Animation bonus */

@keyframes bonus {
    0% {color: #fff; font-size: 1.4em;}
    50% {color: green; font-size: 1.6em;}
    100% {color: #fff; font-size: 1.4em;}
}

.text-adv {
    padding: 5% 5% 0% 5% ;
    font-family: 'Fredoka One', cursive;
    font-size: 1.4em;
    transition: font-size 5s, color 5s ease-in-out;
    animation-name: bonus;
    animation-duration: 4s;
}

.text-adv:hover {
    color: green;
    padding: 5% 5% 0% 5% ;
    font-family: 'Fredoka One', cursive;
    font-size: 200%;
}

.text-adv::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 5s;
}

.text-adv:hover::after {
    width: 190px;
    transition: width 5s;
}


/* Section, body */



section {
    margin-inline: 5%;
}

section h1 {
    color: #ff0032;
    margin-top: 5%;
}


html, body {
    color: #444;
    background-image: linear-gradient(-20deg, #343a40,   rgb(85, 85, 49));
    height: 100%;
}

body {
    color: #fff;

}

#main {
    overflow: auto;
    padding-top: 10%;
    background-image: linear-gradient(-20deg, #343a40,   rgb(85, 85, 49));
    height: 95%;
}


/* Footer */



#footer {
    align-items: center;

}

/* Card login and sing up */

.account-card {
    width: 65%;
    padding: 7%;
}

/* Button password reset */

#reset-password {
    float: right;
}

/* Logout */

.logout {
    margin-top: 5%;
    margin-left: 5%;
}

.logout img{
    margin-top: 5%;
}


/* Profil */


#profil {
    padding: 10%;
    width: 70%;
}

#profil .media {
    padding-bottom: 10%;
}

#profil .media-body {
    padding: 7%;
}


/* Home page */


#carouselExampleControls {
    padding: 8%;
}

/* Image main (Filmy, Seriale, Anime, +18) */

.img-filmy img {
    width: 50%;
    padding: 5%;
    margin-inline: 25%;
}

.img-seriale img {
    width: 70%;
    margin-inline: 15%;
    padding: 5%;

}

.img-anime img {
    width: 50%;
    padding: 5%;
    margin-inline: 25%;
}

.img-18 img {
    width: 50%;
    padding: 5%;
    margin-inline: 23%;
}


/* Main card  */

.video {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-gap: 5%;
}

.card {
    border: 0;
    background-color: #241d2b;
    width: 100%;
    font-size: 1vw;
    transition: transform 2s ease-in-out, box-shadow 2s ease-in-out;

}

.card:hover {
    transform: scale(1.1);
    box-shadow: 20px 20px 16px black;         

}

.card-body {
    margin-top: 1vh;
    padding: 1%;
    text-align: center;
      
}

.card-form .card-body {
    width: 60vw;
    min-width: 360px;
    text-align: left;
      
}

.card-title {  
    font: bold 1.25em sans-serif;
    font-family: 'Roboto Slab', serif;
}

.card-img { 
    width: 100%vw;
    height: 25vh;
    height: 15vw;

}

/* Icon platforms inside main card */

#icon {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-gap: 10%;
    margin-top: 3%;
    margin-bottom: 8%;
    margin-right: -25px !important;
    width: 80%;
}

/* Size icon  */

.img-platform {
    height: 100%;
    width: 70%;
}

/* Icon edit and delete inside main card */

.edit-delete a {
    float: left;
    font-size: 1.3em;
    padding: 3%;
    color: #ff0032;
}

.edit-delete #add {
    float: right;
    font-size: 90%;
    padding-top: 5%;
    color: #ff0032;
}


/* Icon voters/likes */

#votes-icon button {
    float: right;
    color: #ff0032;
    padding-top: 10px;
    font-size: 1vw;
}

/* inscription "watch in:" */

.watch {
    margin-bottom: 0;
}

a {
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #fff;
}



/* Detail */

.detail {
    text-align: center;
    margin-top: 5%;
}

.detail .fa-2x{
    font-size: 2.5vw;
}

.detail-card-body a {
    color: #ff0032;
}


.detail img {    
    width: 40vw;
    height: 25vw;      
    
}

.detail-add {
    font-size: 1.3vw;
    padding: 1vw;
}


.detail-card-body {
    margin-top: 1vh;
    text-align: center;

}


.detail-card-body img {
    width: auto;
    height: 4vw;

}

.detail-title {
    font: bold sans-serif;
    font-family: 'Roboto Slab', serif;
    font-size: 2.5vw;
}

#detail-icon {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-gap: 5%;
    padding: 10%;
}

#detail-votes button {
    color: #ff0032;
    float: right;    

}

#detail-desc {
    font-size: 2vw 3vh;
    text-align: left;
    padding: 10%;

}

/* Card Verify user age */

.card-body-age {
    padding: 10%;
    text-align: center;
}

/* Alert confirm delete */

#confirm-delete .card-body {
    padding: 7%;
    width: 60%;
 }