{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %} Login {% endblock %}

{% block content %}
<section>
    <div class="account-card">
        {% language 'pl' %}
        <form method="POST" class="form-group">
            {% csrf_token %}
            {{form|crispy}}
            <div id="reset-password">
                <a href="{% url 'password_rester' %}"><span class="badge badge-warning">Zresetuj hasło</span></a>
            </div>            
            <button type="submit" class="btn btn-success">Zaloguj</button>
        </form>
        {% endlanguage %}
    </div>  
</section>
{% endblock %}