{% extends "base.html" %}

{% block title %}Reset hasła{% endblock %}
{% block content_title %}<h1>Reset hasła</h1>{% endblock %}
{% block content %}

{% if validlink %}

<p>Wprowadź nowe hasło</p>

<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <div class="form-row field-password1">
        {{ form.new_password1.errors }}
        <label for="id_new_password1">Nowe hasło:</label>
        {{ form.new_password1 }}
    </div>
    <div class="form-row field-password2">
        {{ form.new_password2.errors }}
        <label for="id_new_password2">Potwierdź hasło:</label>
        {{ form.new_password2 }}
    </div>
    <input type="submit" value="Zmień hasło">
</fieldset>
</form>

{% else %}

<p>"The password reset link was invalid, possibly because it has already been used.  Please request a new password reset."</p>

{% endif %}

{% endblock %}
