{% extends 'base.html' %}

{% block title %}
Seriale

{% endblock %}
{% block content %}
<br/>
<br/>
<br/>
<h1>Seriale</h1>
<br/>
<a href="{% url 'serial_create' %}"><button type="button" class="btn btn-success btn-sm">Dodaj <i class="fas fa-plus-circle"></i></button> </a>
{% for serial in series %}
<div class="card_serial">
    <div class="row no-gutters">
        <div class="col-lg-4">
            <img src="/media/{{serial.image}}" class="card-img" alt="Wrzuć obrazek!">
        </div>
        <div class="col-lg-5">
            <h5 class="card-title">{{ serial.title_year}}</h5>
            <p class="card-text">{{ serial.summary }}</p>
            <p class="card-text"><small class="text-muted">Dodał {{serial.user}}</small></p>
        </div>
        <div class="col-lg-2">
            <a href="{% url 'serial_update' serial.id %}"><i class="fas fa-2x fa-edit"></i></a>
            <a href="{% url 'serial_delete' serial.id %}"><i class="fas fa-2x fa-trash-alt"></i></a>
        </div>
        <div class="col-lg-1">
            {% if serial.votes_total == 0 %}
            <a>
                <a href="javascript:{document.getElementById('serial_upvote{{ serial.id }}').submit()}">
                    <i class="far fa-2x fa-heart"></i>
                </a>
            </a>
            {% elif user in serial.voters.all %}
            <a>
                <i class="fas fa-2x fa-heart"> {{ serial.votes_total }}</i>
            </a>
            {% else %}
            <a href="javascript:{document.getElementById('serial_upvote{{ serial.id }}').submit()}">
                <i class="fas fa-2x fa-heart"> {{ serial.votes_total }}</i>
            </a>
            {% endif %}

        </div>
    </div>

    <form id="serial_upvote{{ serial.id }}" method="POST" action="{% url 'serial_upvote' serial.id %}">
        {% csrf_token%}
        <input type="hidden">
    </form>
</div>
{% endfor %}
{% endblock %}
