{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if title %}
      <title>Warto zonaczyć - {{ title }}</title>
    {% else %}
      <title>Warto zonaczyć</title>
    {% endif %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/19abe0e356.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'main/main.css' %}">


</head>
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <div class="d-flex bd-highlight">
        <div class="navbar-nav">
          <a class="navbar-brand" href="#">GaryGaster</a>
          <a class="nav-item nav-link" href="{% url 'all_movies' %}">Filmy</a>
          <a class="nav-item nav-link" href="{% url 'all_series' %}">Seriale</a>
          <a class="nav-item nav-link" href="{% url 'all_animes' %}">Anime</a>
          <a class="nav-item nav-link" href="{% url 'all_xvideos' %}">+18</a>
        </div>
      </div>
      <div class="p-2 bd-highlight">
        <div class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
          <a class="nav-item nav-link" href="{% url 'profile' %}"><i class="fas fa-2x fa-user-circle"></i></a>
          <a class="nav-item nav-link" href="{% url 'logout' %}"><button type="button" class="btn btn-outline-secondary">Wyloguj</button></a>
          {% else %}
          <a class="nav-item nav-link" href="{% url 'register' %}"><button type="button" class="btn btn-warning btn-sm">Rejestracja</button></a>
          <a class="nav-item nav-link" href="{% url 'login' %}"><button type="button" class="btn btn-outline-light btn-sm">Logowanie</button></a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
</header>



<header>


</header>
<main role="main" class="container">
  <div class="row">
    <div class="col-md-8">
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      {% block content %}{% endblock %}
    </div>
    <div class="col-md-4">
      <div class="content-section">
        <h3>Reklama</h3>
        <p class='text-muted'>Miejsce na reklame
        <ul class="list-group">
          <li class="list-group-item list-group-item-light">Bonus 10$</li>
        </ul>
        </p>
      </div>
    </div>
  </div>
</main>
  <footer class="text-muted">
    <div class="container text-center">
      <p><i class="far fa-copyright"></i> GaryGaster </p>
      </div>
  </footer>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>