{% extends 'base.html' %}

{% block title %}Potwierdz{% endblock %}

{% block content %}
<div class="card_form" >
    <div class="card-body">
        <div class="alert alert-danger" role="alert">
            Czy napewno chcesz usunąć {{movie.title}} ??
        </div>
        <form method="post">
            {% csrf_token %}
            <a href="{% url 'all_movies' %}">Cofnij</a>
            <button type="submit" class="btn btn-danger">Tak</button>
        </form>
    </div>
</div>

{% endblock %}