{% extends 'base.html' %}
{% block title %}
Film
{% endblock %}

{% block content%}
<div class="movie">
    <div class="row no-gutters">
        <div class="col-lg-4">
            <img src="/media/{{object.image}}" class="card-img" alt="Wrzuć obrazek!">
        </div>
        <div class="col-lg-5">
            <h5 class="card-title">{{ object.title_year}}</h5>
            <p class="card-text">{{ object.summary }}</p>
            <p> {{object.platforms}}</p>
            <p class="card-text"><small class="text-muted">Dodał {{object.user}}</small></p>

        </div>
        <div class="col-lg-2">
            {% if object.user == user %}
            <a href="{% url 'movie-update' movie.id %}"><i class="fas fa-2x fa-edit"></i></a>
            <a href="{% url 'movie-delete' movie.id %}"><i class="fas fa-2x fa-trash-alt"></i></a>
            {% endif %}
        </div>
        <div class="col-lg-1">
            {% if object.votes_total == 0 %}
            <a>
                <a href="javascript:{document.getElementById('movie-upvote{{ object.id }}').submit()}">
                    <i class="far fa-2x fa-heart"></i>
                </a>
            </a>
            {% elif user in movie.voters.all %}
            <a>
                <i class="fas fa-2x fa-heart"> {{ movie.votes_total }}</i>
            </a>
            {% else %}
            <a href="javascript:{document.getElementById('movie-upvote{{ movie.id }}').submit()}">
                <i class="fas fa-2x fa-heart"> {{ movie.votes_total }}</i>
            </a>
            {% endif %}

        </div>
    </div>

    <form id="movie-upvote{{ object.id }}" method="POST" action="{% url 'movie-upvote' movie.id %}">
        {% csrf_token%}
        <input type="hidden">
    </form>
</div>
{% endblock %}