{% extends 'base.html' %}
{% block title %}
Film
{% endblock %}

{% block content%}
<div class="card_movie">
    <div class="row no-gutters">
        <div class="col-lg-4">
            <img src="/media/{{movie.image}}" class="card-img" alt="Wrzuć obrazek!">
        </div>
        <div class="col-lg-5">
            <h5 class="card-title">{{ movie.title_year}}</h5>
            <p class="card-text">{{ movie.summary }}</p>
            <p> {{movie.platforms}}</p>
            <p class="card-text"><small class="text-muted">Dodał {{movie.user}}</small></p>

        </div>
        <div class="col-lg-2">
            <a href="{% url 'update_movie' movie.id %}"><i class="fas fa-2x fa-edit"></i></a>
            <a href="{% url 'delete_movie' movie.id %}"><i class="fas fa-2x fa-trash-alt"></i></a>
        </div>
        <div class="col-lg-1">
            {% if movie.votes_total == 0 %}
            <a>
                <a href="javascript:{document.getElementById('upvote_movie{{ movie.id }}').submit()}">
                    <i class="far fa-2x fa-heart"></i>
                </a>
            </a>
            {% elif user in movie.voters.all %}
            <a>
                <i class="fas fa-2x fa-heart"> {{ movie.votes_total }}</i>
            </a>
            {% else %}
            <a href="javascript:{document.getElementById('upvote_movie{{ movie.id }}').submit()}">
                <i class="fas fa-2x fa-heart"> {{ movie.votes_total }}</i>
            </a>
            {% endif %}

        </div>
    </div>

    <form id="upvote_movie{{ movie.id }}" method="POST" action="{% url 'upvote_movie' movie.id %}">
        {% csrf_token%}
        <input type="hidden">
    </form>
</div>
{% endblock %}