{% extends 'base.html' %}
{% load static %}
{% block title %}
Film
{% endblock %}

{% block content%}
<div class="detail">
    <div class="row no-gutters">
        <div class="col-lg-4">
            {% ifequal serial.image 'video-default.jpg' %}
                <a href="{% url 'serial-detail' serial.id %}"><img src="{% static 'video-default2.jpg' %}" class="card-img"  alt="Default"></a>
            {% else %}
                <a href="{% url 'serial-detail' serial.id %}"><img src="{{serial.image.url}}" class="card-img" alt="Obrazek"></a>           
            {% endifequal %}
        </div>
        <div class="col-lg-6">
            <h5 class="detail-title">{{ serial.title_year}}</h5>
            <div id='detail-icon'>
                {% for choice in serial.platforms %}
                {% if choice == "1" %}
                    <a href="https://www.hbogo.pl/"><img src="{% static 'platforms/hbogo.png' %}" class="img-platform" alt="HBOGO"></a>
                        {% elif choice == "2" %}
                    <a href="https://www.netflix.com/"><img src="{% static 'platforms/netflix.png' %}" class="img-platform" alt="Netflix"></a>
                        {% elif choice == "3" %}
                    <a href="https://www.primevideo.com/"><img src="{% static 'platforms/amazon_v.jpeg' %}" class="img-platform" alt="Amazon"></a>
                        {% elif choice == "4" %}
                    <a href="https://www.youtube.com/"><img src="{% static 'platforms/youtube.png' %}" class="img-platform" alt="Youtube"></a>
                {% endif %}
                {% endfor %}
            </div>
            <div class="detail-add">
                <a id="add" href="{% url 'user-series' serial.user.username %}"><small class="text-muted">Dodał {{serial.user}} {{  serial.timestamp_pretty }}</small></a>                
            </div>
            

        </div>
        <div class="col-lg-2">
            <div id="detail-edit-delete">                
                {% if serial.user == user %}
                <a href="{% url 'serial-update' serial.id %}"><i class="fas fa-2x fa-edit"> </i></a>
                <a href="{% url 'serial-delete' serial.id %}"><i class="fas fa-2x fa-trash-alt"> </i></a>
                {% endif %}
            </div>
            
            <div id="detail-votes">
                <form action="{% url 'serial-upvote' serial.id%}" method="post">
                    {% csrf_token %}
                    {% if serial.votes_total == 0 %}
                    <button type="submit" name="serial_id" value="{{ serial.id }}" class="btn"><i class="far fa-2x fa-heart"></i></button>
    
                    {% elif user in serial.voters.all %}
                    <button type="submit" name="serial_id" value="{{ serial.id }}" class="btn"><i class="fas fa-2x fa-heart">{{ serial.votes_total }}</i></button>
                    {% else %}
                    <button type="submit" name="serial_id" value="{{ serial.id }}" class="btn"><i class="fas fa-2x fa-heart"> {{ serial.votes_total }}</i></button>
                    {% endif%}
                </form>                
            </div>
            
        </div>
        <div id="detail-desc">
            <p>{{ serial.description }}</p>
        </div>
        
    </div>
</div>
{% endblock %}
