{% extends 'base.html' %}
{% load static %}

{% block title %}
Filmy

{% endblock %}
{% block content %}
<section>
  <h1 >Filmy dodane przez {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>
<br/>

<article class="video">
  {% for movie in movies %}
  <div class="card">
    {% ifequal movie.image 'video-default.jpg' %}
        <a href="{% url 'movie-detail' movie.id %}"><img src="{% static 'video-default2.jpg' %}" class="card-img"  alt="Default"></a>
    {% else %}
        <a href="{% url 'movie-detail' movie.id %}"><img src="{{movie.image.url}}" class="card-img" alt="Obrazek"></a>           
    {% endifequal %}
      <div class="card-body">
          <h5 class="card-title">{{ movie.title_year}}</h5></a>
          <p class="watch">Oglądaj w: </p>
          <div id="votes-icon">
              <form action="{% url 'movie-upvote' movie.id%}" method="post">
                  {% csrf_token %}
                  {% if movie.votes_total == 0 %}
                  <button type="submit" name="movie_id" value="{{ movie.id }}" class="btn"><i class="far fa fa-heart"></i></button>

                  {% elif user in movie.voters.all %}
                  <button type="submit" name="movie_id" value="{{ movie.id }}" class="btn"><i class="fas fa fa-heart"> {{ movie.votes_total }}</i></button>
                  {% else %}
                  <button type="submit" name="movie_id" value="{{ movie.id }}" class="btn"><i class="fas fa fa-heart"> {{ movie.votes_total }}</i></button>
                  {% endif%}
              </form>
          </div>
          <div id='icon'>
              {% for choice in movie.platforms %}
              {% if choice == "1" %}
                    <a href="https://www.hbogo.pl/"><img src="{% static 'platforms/hbogo.png' %}" class="img-platform" alt="HBOGO"></a>
                        {% elif choice == "2" %}
                    <a href="https://www.netflix.com/"><img src="{% static 'platforms/netflix.png' %}" class="img-platform" alt="Netflix"></a>
                        {% elif choice == "3" %}
                    <a href="https://www.primevideo.com/"><img src="{% static 'platforms/amazon.png' %}" class="img-platform" alt="Amazon"></a>
                        {% elif choice == "4" %}
                    <a href="https://www.youtube.com/"><img src="{% static 'platforms/youtube.png' %}" class="img-platform" alt="Youtube"></a>
                {% endif %}
                {% endfor %}

          </div>



      </div>


  <div class="edit-delete">
      <a id="add" href="{% url 'user-movies' movie.user.username %}"><small class="text-muted">Dodał {{movie.user}} {{  movie.timestamp_pretty }}</small></a>
      {% if movie.user == user %}
      <a href="{% url 'movie-update' movie.id %}"><i class="fas fa-edit"> </i></a>
      <a href="{% url 'movie-delete' movie.id %}"><i class="fas fa-trash-alt"> </i></a>
      {% endif %}
  </div>
</div>

{% endfor %}
</article>

</section>

{% endblock %}




