{% extends 'base.html' %}
{% load static %}

{% block title %}
Anime użytkownika

{% endblock %}
{% block content %}
<section>
    <h1 >Anime dodane przez {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>
    <div class="pagination">
        {% if is_paginated %}

        {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1"><<</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}"><</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
        <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">></a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">>></a>
        {% endif %}
        {% endif %}
    </div>
    <article class="video">
        {% for anime in animes %}
        <div class="card">
            {% ifequal anime.image 'video-default.jpg' %}
            <a href="{% url 'anime-detail' anime.id %}"><img src="{% static 'video-default2.jpg' %}" class="card-img"  alt="Default"></a>
            {% else %}
            <a href="{% url 'anime-detail' anime.id %}"><img src="{{anime.image.url}}" class="card-img" alt="Obrazek"></a>
            {% endifequal %}
            <div class="card-body">
                <h5 class="card-title">{{ anime.title_year}}</h5>
                <p class="watch">Oglądaj w: </p>
                <div id="votes-icon">
                    <form action="{% url 'anime-upvote' anime.id%}" method="post">
                        {% csrf_token %}
                        {% if anime.votes_total == 0 %}
                        <button type="submit" name="anime_id" value="{{ anime.id }}" class="btn"><i class="far fa fa-heart"></i></button>

                        {% elif user in anime.voters.all %}
                        <button type="submit" name="anime_id" value="{{ anime.id }}" class="btn"><i class="fas fa fa-heart"> {{ anime.votes_total }}</i></button>
                        {% else %}
                        <button type="submit" name="anime_id" value="{{ anime.id }}" class="btn"><i class="fas fa fa-heart"> {{ anime.votes_total }}</i></button>
                        {% endif%}
                    </form>
                </div>
                <div id='icon'>
                    {% for choice in anime.platforms %}
                    {% if choice == "1" %}
                    <a href="https://www.hbogo.pl/"><img src="{% static 'platforms/hbogo.png' %}" class="img-platform" alt="HBOGO"></a>
                    {% elif choice == "2" %}
                    <a href="https://www.netflix.com/"><img src="{% static 'platforms/netflix.png' %}" class="img-platform" alt="Netflix"></a>
                    {% elif choice == "3" %}
                    <a href="https://www.primevideo.com/"><img src="{% static 'platforms/amazon_v.jpeg' %}" class="img-platform" alt="Amazon"></a>
                    {% elif choice == "4" %}
                    <a href="https://www.youtube.com/"><img src="{% static 'platforms/youtube.png' %}" class="img-platform" alt="Youtube"></a>
                    {% elif choice == "5" %}
                    <a href="https://www.cda.pl/"><img src="{% static 'platforms/cda.jpeg' %}" class="img-platform" alt="CDA"></a>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="edit-delete">
                <a id="add" href="{% url 'user-anime' anime.user.username %}"><small class="text-muted">Dodał {{anime.user}} {{  anime.timestamp_pretty }}</small></a>
                {% if anime.user == user %}
                <a href="{% url 'anime-update' anime.id %}"><i class="fas fa-edit"> </i></a>
                <a href="{% url 'anime-delete' anime.id %}"><i class="fas fa-trash-alt"> </i></a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </article>
    <div class="pagination">
        {% if is_paginated %}

        {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1"><<</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}"><</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
        <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">></a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">>></a>
        {% endif %}
        {% endif %}
    </div>

</section>
{% endblock %}