{% extends 'base.html' %}
{% block title %}
Film
{% endblock %}

{% block content%}
<div class="card_xvideo">
    <div class="row no-gutters">
        <div class="col-lg-4">
            <img src="/media/{{xvideo.image}}" class="card-img" alt="Wrzuć obrazek!">
        </div>
        <div class="col-lg-5">
            <h5 class="card-title">{{ xvideo.title_year}}</h5>
            <p class="card-text">{{ xvideo.summary }}</p>
            <p> {{xvideo.platforms}}</p>
            <p class="card-text"><small class="text-muted">Dodał {{xvideo.user}}</small></p>

        </div>
        <div class="col-lg-2">
            {% if xvideo.user == user %}
            <a href="{% url 'xvideo-update' xvideo.id %}"><i class="fas fa-2x fa-edit"></i></a>
            <a href="{% url 'xvideo-delete' xvideo.id %}"><i class="fas fa-2x fa-trash-alt"></i></a>
            {% endif%}
        </div>
        <div class="col-lg-1">
            {% if xvideo.votes_total == 0 %}
            <a>
                <a href="javascript:{document.getElementById('xvideo-upvote{{ xvideo.id }}').submit()}">
                    <i class="far fa-2x fa-heart"></i>
                </a>
            </a>
            {% elif user in xvideo.voters.all %}
            <a>
                <i class="fas fa-2x fa-heart"> {{ xvideo.votes_total }}</i>
            </a>
            {% else %}
            <a href="javascript:{document.getElementById('xvideo-upvote{{ xvideo.id }}').submit()}">
                <i class="fas fa-2x fa-heart"> {{ xvideo.votes_total }}</i>
            </a>
            {% endif %}

        </div>
    </div>

    <form id="xvideo-upvote{{ xvideo.id }}" method="POST" action="{% url 'xvideo-upvote' xvideo.id %}">
        {% csrf_token%}
        <input type="hidden">
    </form>
</div>
{% endblock %}