{% extends 'base.html' %}

{% block title %}
+18
{% endblock %}
{% block content %}
<section>
    <div class="img-18">
        <img src="/media/+18.jpg">
    </div>
       <br/>
    <div class="create">
        <a href="{% url 'xvideo-create' %}"><button type="button" class="btn btn-success btn-sm">Dodaj <i class="fas fa-plus-circle"></i></button> </a>
    </div>
    <br/>
    <br/>
    <article class="video">
        {% for xvideo in xvideos %}
        <div class="card">
            <a href="{% url 'xvideo-detail' xvideo.id %}"><img src="/media/{{xvideo.image}}" class="card-img" alt="Wrzuć obrazek!">
            <div class="card-body">
                <h5 class="card-title">{{ xvideo.title_year}}</h5></a>
                <p class="watch">Oglądaj w: </p>
                <div id="votes-icon">
                    <form action="{% url 'xvideo-upvote' xvideo.id%}" method="post">
                        {% csrf_token %}
                        {% if xvideo.votes_total == 0 %}
                        <button type="submit" name="xvideo_id" value="{{ xvideo.id }}" class="btn"><i class="far fa fa-heart"></i></button>

                        {% elif user in xvideo.voters.all %}
                        <button type="submit" name="xvideo_id" value="{{ xvideo.id }}" class="btn"><i class="fas fa fa-heart"> {{ xvideo.votes_total }}</i></button>
                        {% else %}
                        <button type="submit" name="xvideo_id" value="{{ xvideo.id }}" class="btn"><i class="fas fa fa-heart"> {{ xvideo.votes_total }}</i></button>
                        {% endif%}
                    </form>
                </div>
                <div id='icon'>
                    {% for choice in xvideo.platforms %}
                    {% if choice == "1" %}
                    <a href="https://www.hbogo.pl/"><img src="/media/media/platforms/hbogo.png" class="img-platform" alt="HBOGO"></a>
                    {% elif choice == "2" %}
                    <a href="https://www.netflix.com/"><img src="/media/media/platforms/netflix.png" class="img-platform" alt="Netflix"></a>
                    {% elif choice == "3" %}
                    <a href="https://www.primevideo.com/"><img src="/media/media/platforms/amazon.png" class="img-platform" alt="Amazon"></a>
                    {% elif choice == "4" %}
                    <a href="https://www.youtube.com/"><img src="/media/media/platforms/youtube.png" class="img-platform" alt="Youtube"></a>

                    {% endif %}

                    {% endfor %}

                </div>



            </div>


        <div class="edit-delete">
            <a id="add" href="{% url 'user-xvideos' xvideo.user.username %}"><small class="text-muted">Dodał {{xvideo.user}}</small></a>
            {% if xvideo.user == user %}
            <a href="{% url 'xvideo-update' xvideo.id %}"><i class="fas fa-edit"> </i></a>
            <a href="{% url 'xvideo-delete' xvideo.id %}"><i class="fas fa-trash-alt"> </i></a>
            {% endif %}
        </div>
    </div>

    {% endfor %}
    </article>

    <br/>
    <br/>
    <br/>
    <br/>


    {% if is_paginated %}

    {% if page_obj.has_previous %}
    <a class="btn btn-outline-info mb-4" href="?page=1"><<</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}"><</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">></a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">>></a>
    {% endif %}

    {% endif %}
</section>

{% endblock %}