{% extends 'base.html' %}
{% load static %}
{% block title %}
Film
{% endblock %}

{% block content%}
<div class="detail">
    <div class="row no-gutters">
        <div class="col-lg-4">
            {% ifequal xvideo.image 'video-default.jpg' %}
                <a href="{% url 'xvideo-detail' xvideo.id %}"><img src="{% static 'video-default2.jpg' %}" class="card-img"  alt="Default"></a>
            {% else %}
                <a href="{% url 'xvideo-detail' xvideo.id %}"><img src="{{xvideo.image.url}}" class="card-img" alt="Obrazek"></a>           
            {% endifequal %}
        </div>
        <div class="col-lg-6">
            <h5 class="detail-title">{{ xvideo.title_year}}</h5>
            <div id='detail-icon'>
                {% for choice in xvideo.platforms %}
                {% if choice == "1" %}
                    <a href="https://www.hbogo.pl/"><img src="{% static 'platforms/hbogo.png' %}" class="img-platform" alt="HBOGO"></a>
                        {% elif choice == "2" %}
                    <a href="https://www.netflix.com/"><img src="{% static 'platforms/netflix.png' %}" class="img-platform" alt="Netflix"></a>
                        {% elif choice == "3" %}
                    <a href="https://www.primevideo.com/"><img src="{% static 'platforms/amazon.png' %}" class="img-platform" alt="Amazon"></a>
                        {% elif choice == "4" %}
                    <a href="https://www.youtube.com/"><img src="{% static 'platforms/youtube.png' %}" class="img-platform" alt="Youtube"></a>
                {% endif %}
                {% endfor %}
            </div>
            <div class="detail-add">
                <a id="add" href="{% url 'user-xvideos' xvideo.user.username %}"><small class="text-muted">Dodał {{xvideo.user}} {{  xvideo.timestamp_pretty }}</small></a>                
            </div>
            

        </div>
        <div class="col-lg-2">
            <div id="detail-edit-delete">                
                {% if xvideo.user == user %}
                <a href="{% url 'xvideo-update' xvideo.id %}"><i class="fas fa-2x fa-edit"> </i></a>
                <a href="{% url 'xvideo-delete' xvideo.id %}"><i class="fas fa-2x fa-trash-alt"> </i></a>
                {% endif %}
            </div>
            
            <div id="detail-votes">
                <form action="{% url 'xvideo-upvote' xvideo.id%}" method="post">
                    {% csrf_token %}
                    {% if xvideo.votes_total == 0 %}
                    <button type="submit" name="xvideo_id" value="{{ xvideo.id }}" class="btn"><i class="far fa-2x fa-heart"></i></button>
    
                    {% elif user in xvideo.voters.all %}
                    <button type="submit" name="xvideo_id" value="{{ xvideo.id }}" class="btn"><i class="fas fa-2x fa-heart">{{ xvideo.votes_total }}</i></button>
                    {% else %}
                    <button type="submit" name="xvideo_id" value="{{ xvideo.id }}" class="btn"><i class="fas fa-2x fa-heart"> {{ xvideo.votes_total }}</i></button>
                    {% endif%}
                </form>                
            </div>
            
        </div>
        <div id="detail-desc">
            <p>{{ xvideo.description }}</p>
        </div>
        
    </div>
</div>
{% endblock %}
